body {
  background-image: url("img/background.jpg");
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

.hidden {
  display: none;
}

#devconsole {
  position: fixed;
  margin-top: 60px;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: scroll;
}

#devconsole p {
  font-family: 'Inconsolata', monospace;
  color: white;
  margin-left: 10px;
}

#navbar {
  z-index: 1000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
}

#navbar li {
  float: left;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 50px;
  color: white;
}

#navbar li:hover {
  background-color: #111;
}

#container {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  height: auto;
  padding: 0;
}

#container ul {
  list-style-type: none;
}

#devconsole table {
  width: 100%
}

#devconsole #devconsoleinput {
  width: 94%;
  z-index: 1001;
}

#devconsole #devconsolesubmit {
  width: 5%;
}

.world {
  background-color: #353535;
  width: 98%;
  height: 200px;
  border-style: solid;
  border-color: #232323;
  border-radius: 10px;
  margin-bottom: 20px;
}

.world:hover {
  background-color: #232323;
}

.world .worldpreview {
  display: block;
  max-height: 200px;
  max-width: auto;
  border-radius: 10px
}

.world .worldtitle {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  display: inline;
  text-align: left;
}
